<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartoonify</title>
</head>
<style>
    #container1 {
		margin: 0px;
		width: 720px;
		height: 375px;
        background-color:white;
	}
    #container2 {
		margin: 0px;
		width: 720px;
		height: 375px;
        background-color:white;
	}
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .container1{
        width: 720px;
    }
    .container2{
        width: 720px;
    }
</style>
<body>
    <div id="container1">
        <img id="image_selected">
    </div>

    <div class="image_input" >
        <input type="file" id="img_select_button" accept="image/*">
        
    </div>

    <div class="send">
        <textarea id='input_text'></textarea>
        <button onclick='upload_image()'>Send</button>
    </div>

    <div id="container2">
        <img id="image_output">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>

    <script type="text/javascript">
    
        var text = document.getElementById('input_text')
        var socket = io()
        var image_selected = document.getElementById('image_selected')
        document.getElementById('img_select_button').addEventListener('change', imageSelected, false)
        
        function upload_image(){
            console.log("Image sent")
            var canvas = document.createElement('canvas')
            const ctx = canvas.getContext('2d');
            canvas.width = image_selected.width;
            canvas.height = image_selected.height;
            ctx.drawImage(image_selected, 0, 0,image_selected.width,image_selected.height);
            socket.emit('input_image',canvas.toDataURL('image/jpeg'))
        }

        function imageSelected(el){
            var file = el.target.files[0]
            var fileReader = new FileReader()
            fileReader.readAsDataURL(file)
            fileReader.onload = ()=>{
                image_selected.src = fileReader.result
            }
        }

        socket.on('processed_image',function(data){
            console.log("Image received")
            urlObject = URL.createObjectURL(new Blob([data.frame]));
            document.getElementById('image_output').src = urlObject
        })

        socket.on('error',function(data){
            text.value = data
        })
    
    </script>


</body>
</html>